* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fredoka;
}

.bg-teal {
    background-color: #01949A;
}

.allinea-centro {
    text-align: center;
    color: #E5DDC8;
}

.allinea-fondo {
    text-align: end;
}

.text-hotpink {
    color: #F652A0;
}